body {
	background:#EFF8FB;
	margin:0;
	padding:0;
	display:flex;
	min-height:100vh;
	flex-wrap: wrap;
}
#nav2{
	background:#3498DB;
	line-height:2;
    width:100%;
}
footer {
   align-self: flex-end;
   line-height:1;
   width:100%;
   text-align: center;
   font-family:times new roman;
   background:#333;
   color: #eee;
   font-size:15px;
   padding:2px;
   line-height:1.5;
}
ul.list1, ul.list2{
	list-style: none;
	padding: 0;
}

.fote1,.fote2,.fote3,.fote4{
  position: relative;
  min-height: 1px;
  padding-right: 70px;
  padding-left: 70px;
  float: left;
  text-align: left;
}
#img1{
	margin:25px;
	width:70px; 
    height:50px;
}
.portada{
	width:100%;
	height:50%;
	margin:0;
	overflow: hidden;
	float:left;
}
.portada img{
	width: 100%;
    height:50%;
}
.somos, .misi{
	width:100%;
	height:50%;
	margin:0;
	overflow: hidden;
	padding-left:40px;
	display: inline-block;
}
.responsabilidad,.privacidad{
	width:100%;
	height:50%;
	margin:0;
	overflow: hidden;
	background-color:#FDFEFE;
	padding-right:40px;
	display: inline-block;
}
.letra, .letra2,.letra3,.letra4{
	width:50%; 
    height:100%;
	float:left;
	text-align:justify;
	font-family:Georgia;
	font-size:20px;
	line-height:1.5;
	display: inline-block;
}
.foto, .foto2,.foto3,.foto4{
	width:50%; 
    height:100%;
	float:left;
	text-align:center;
	display: inline-block;
}
.foto img{
	width: 80%;
    height:50%;
}
#qs,#qs1,#qs2,#qs3{
	color:#287CDA;
	text-align:center;
}
#le,#li,#lo,#lu{
	color:#416997;
}
@media only screen and (max-width:480px) {

  .menu, .main, .right {
    width:100%;
  }
@media only screen and (max-width:480px) {

  .menu, .main, .right {
    width:100%;
}
@media only screen and (max-width:480px) {

  .menu, .main, .right {
    width:100%;
  }